*.o
*.elf
*.bin
*.img
emu/emu68k
emu/musashi/m68kmake
emu/musashi/m68kops.c
emu/musashi/m68kops.h
tools/mkfs.minifs
tools/mkbin
tools/romfix
libc/libc.a
apps/hello
apps/echo
apps/cat
apps/wc
apps/head
apps/true
apps/false
apps/tail
apps/tee
apps/yes
apps/basename
apps/dirname
apps/rev
apps/nl
apps/cmp
apps/cut
apps/tr
apps/uniq
apps/imshow
apps/ls
apps/sleep
apps/strings
apps/fold
apps/expand
apps/unexpand
apps/paste
apps/comm
apps/seq
apps/tac
apps/grep
apps/od
apps/env
apps/expr
apps/levee/levee
apps/dash/dash
tests/test_string
tests/test_mem
tests/test_exec
tests/test_proc
tests/test_libc
tests/test_vdp
tests/test_signal
tests/test_redir
tests/test_tty
tests/test_fs
tests/test_buf
tests/test_kprintf
tests/test_pipe
test-md-screenshot*.png
test-md-imshow*.png
_levee_source/
.plan
