*.o
*.elf
*.bin
*.img
emu/emu68k
emu/musashi/m68kmake
emu/musashi/m68kops.c
emu/musashi/m68kops.h
tools/mkfs.minifs
tools/mkbin
libc/libc.a
apps/hello
apps/echo
apps/cat
apps/wc
apps/head
apps/true
apps/false
apps/levee/levee
tests/test_string
tests/test_mem
tests/test_exec
test-md-screenshot*.png
_levee_source/
apps/levee/levee
